<!DOCTYPE html>
<html>
<head>
    <title>Result from Keras</title>
</head>
<body>
	<h1> {{ result1 }} </h1>
  <h1> {{ result2 }} </h1>
  <h1> {{ result3 }} </h1>
	<img src= {{url}} alt="Image" width ="224" height ="224">
<!--     <img src= {url}} alt="Image" width ="224" height ="224"> -->
</body>
</html>
